<%- include('partials/header') %>
        <form action="/" method="post">
            <input type="text" id="inputEmail"  placeholder="Encrypted" name="key" required
                autofocus><br>
            <input type="text" id="inputPassword"  placeholder="key" name="enMessage" required><br>
            <div class="signin-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>