<%- include('partials/header') %>
<div class="top-container">
    <h1 style="color:white;  text-shadow: 1px 1px 2px grey;"><strong>DECRYPTO</strong></h1>
</div>

    <section id="input">
        <form class="" action="/home" method="post">
        <div class="input-group key">
            <div class="input-group-prepend">
            </div>
            <input autocomplete="off" type="text" class="form-control" placeholder="Enter encryption key"
                aria-label="encryption key"
                name="key">
        </div>
        <div class="input-group code">
            <div class="input-group-prepend">

            </div>
            <input autocomplete="off" type="text" class="form-control" placeholder="Enter encrypted code"
                aria-label="encrypted code"
                name="enMessage">
        </div>
        <div>
              <button type="submit" class="btn btn-dark submit-button">Submit</button>
        </div>
       </form>
       <a href="/logout"><button class="btn btn-light submit-button">Log Out</button></a>
    </section>



</body>

</html>