<%- include('partials/header') %>
<div class="top-container">
    <h1 style="color:white;  text-shadow: 1px 1px 2px grey;"><strong>DECRYPTO</strong></h1>
</div>
<form class="" action="/" method="post">
    <section id="input-section" style="padding-top: 4rem;">
        <div >
           <i class="fas fa-user fa-5x"></i>
        </div>

        
        <div class="input-group key" style="margin-top: 50px;">
            <div class="input-group-prepend">
            </div>
            <input autocomplete="off" type="email" class="form-control" placeholder="Enter registered Email"
                aria-label="encryption key"
                name="username">
        </div>
        <div class="input-group code">
            <div class="input-group-prepend">

            </div>
            <input autocomplete="off" type="password" class="form-control" placeholder="Enter Password"
                aria-label="encrypted code"
                name="password">
        </div>
        <div>
            <button type="submit" class="btn btn-dark submit-button">Log In</button>
        </div>
        <div>

    </section>
</form>

</body>

</html>